<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>Spring Board</title>
    <link rel="stylesheet" href="/static/images/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">


    <style>
        .hide {
            display: none;
        }
    </style>


    <script>
        // 미리 작성된 영역 - 수정하지 않으셔도 됩니다.
        // 사용자가 내용을 올바르게 입력하였는지 확인합니다.

        // 디테일 페이지의 포스팅 아이디 가져오기
        let detailId = localStorage.getItem('id');

        $(document).ready(function () {
            // HTML 문서를 로드할 때마다 실행합니다.
            getOnePosts(detailId);
            getComments(detailId);
        })

        function isValidContents(contents) {
            if (contents.trim().length < 1) {
                alert('댓글 내용을 입력해주세요');
                return false;
            }
            return true;
        }

        function editPost(id) {
            showEdits(id);
            let contents = $(`#${id}-contents`).text().trim();
            let title = $(`#${id}-title`).text().trim();
            $(`#${id}-titlearea`).val(title);
            $(`#${id}-textarea`).val(contents);
        }

        function showEdits(id) {
            $(`#${id}-editarea`).show();
            $(`#${id}-submit`).show();
            $(`#${id}-delete`).show();

            $(`#${id}-contents`).hide();
            $(`#${id}-title`).hide();
            $(`#${id}-edit`).hide();
        }

        function getCurrent(){
            var current;
            $.ajax({
                type: 'GET',
                url: `/post/current`,
                async:false,
                success: function(response) {
                        current = response
                    }
            })
            console.log(current);
            return current;
        }


        // function loginCheck(){
        //     let currentUser = $(`#currentUser`).text().trim();
        //     if(currentUser === ''){
        //         confirm("로그인이 필요한 기능입니다.")
        //         window.location.href = "/user/login"
        //     }
        // }




        // 디테일 페이지 포스팅 가져오기
         function getOnePosts(id) {
            // 1. 기존 메모 내용을 지웁니다.
            $('#detail-box').empty();

            // 2. 메모 목록을 불러와서 HTML로 붙입니다.
            $.ajax({
                type: 'GET',
                url: `/posts/detail/${id}`,
                success: function (response) {
                    // alert('조회에 성공하였습니다.');
                    let posts = response;
                    let title = posts['title'];
                    let contents = posts['contents'];
                    let createdAt = posts['createdAt'];
                    let commentNum = posts['commentNum']
                    let tempHtml = `<div class="card">
                                    <!-- date/username 영역 -->
                                    <div class="metadata">
                                         <div class="commentNum">
                                            ${commentNum}
                                        </div>
                                        <div class="date">
                                            ${createdAt}
                                        </div>
                                        // <div id="${id}-username" class="username">
                                        //     ${username}
                                        // </div>
                                    </div>
                                    <!-- contents 조회/수정 영역-->
                                    <div class="contents">
                                    <div id="${id}-title" class="username">
                                            <span style="font-weight:bold">${title}</span>
                                       </div>
                                        <div id="${id}-contents" class="text">
                                            ${contents}
                                        </div>
                                        <div id="${id}-editarea" class="edit" style = "display: none;">
                                            <textarea id="${id}-titlearea" class="ti-edit" name="" id="" cols="30" ></textarea>
                                            <textarea id="${id}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                                        </div>

                                    </div>
                                    <div class="footer ${hide}">
                                    <img id="${id}-edit" class="icon-start-edit" src="/images/edit.png" alt="" onclick="editPost('${id}')">
                                    <img id="${id}-delete" class="icon-delete" src="/images/delete.png" alt="" onclick="deleteOne('${id}')">
                                    <img id="${id}-submit" class="icon-end-edit" src="/images/done.png" alt="" onclick="submitEdit('${id}')">
                                   </div>
                                </div>`

                    $('#detail-box').append(tempHtml);
                }
            })
        }



        // 메모를 수정합니다.
        function submitEdit(id) {
            // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
            let username = $(`#${id}-username`).text().trim();
            let contents = $(`#${id}-textarea`).val().trim();
            let title = $(`#${id}-titlearea`).val().trim();

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) == false) {
                return;
            }

            // 3. 전달할 data JSON으로 만듭니다.
            let data = {'username': username,'title':title, 'contents': contents};

            // 4. PUT /api/posts/{id} 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/posting/detail/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지 변경에 성공하였습니다.');
                    window.location.reload();
                }
            });
        }


        // 메모를 삭제합니다.
        function deleteOne(id) {
            // 1. DELETE /posts/{id} 에 요청해서 메모를 삭제합니다.
            $.ajax({
                type: "DELETE",
                url: `/posting/detail/${id}`,
                success: function (response) {
                    alert('메시지 삭제에 성공하였습니다.');
                    window.location.href = '/';
                }
            })
        }






        function writeComment() {

            // 1. 작성한 메모를 불러옵니다.
            let contents = $('#comment-postbox').val();
            let targetId = detailId;

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) === false) {
                return;
            }

            // 4. 전달할 data JSON으로 만듭니다.
            let data = {'contents': contents, 'postId': targetId};

            // 5. POST /api/posts 에 data를 전달합니다.
            let successornot = true;
            $.ajax({
                type: "POST",
                url: "/write",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                        window.location.reload();
                }
            });
        }


        // 디테일 페이지 코멘트 가져오기
        function getComments(id) {
            // 1. 기존 메모 내용을 지웁니다.
            $('#detail-box').empty();
            // 2. 메모 목록을 불러와서 HTML로 붙입니다.
            $.ajax({
                type: 'GET',
                url: `/comment/${id}`,
                success: function (response) {
                    for (let i = 0; i < response.length; i++){
                        let comment = response[i];
                        let contents = comment['contents'];
                        let modifiedAt = comment['modifiedAt'];
                        let commentId = comment['id'];
                        let hide = '';
                        if (currentName != commentUsername){
                            hide = "hide";
                            console.log(hide)
                        }
                        // language=HTML format=false
                        let tempHtml = `<div class="card">
                                    <!-- date/username 영역 -->
                                     <div class="metadata">
                                      <div class = "comment-date">
                                            ${modifiedAt}
                                        </div>
                                     <div class = "comment-username">
                                            ${commentUsername}
                                       </div>

                                     </div>
                                    <div class="contents">

                                        <div id="${commentId}-comment-contents" class="text">
                                            ${contents}
                                        </div>
                                    </div>
                                    <div id="${commentId}-comment-editarea" class="edit" style = "display: none;">
                                            <textarea id="${commentId}-comment-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                                        </div>
                                    <!-- contents 조회/수정 영역-->
                                    <div class="footer ${hide}">
                                    <img id="${commentId}-comment-edit" class="icon-start-edit" src="/images/edit.png" alt="" onclick="editComment('${commentId}')">
                                    <img id="${commentId}-comment-delete" class="icon-delete" src="/images/delete.png" alt="" onclick="deleteCommentConfirm('${commentId}')">
                                    <img id="${commentId}-comment-submit" class="icon-end-edit" src="/images/done.png" alt="" onclick="submitEditComment('${commentId}')">
                                   </div>
                                </div> `
                        $('#comment-box').append(tempHtml);
                    }
                }
            })
        }

        function showEditsComment(id) {
            $(`#${id}-comment-editarea`).show();
            $(`#${id}-comment-submit`).show();
            $(`#${id}-comment-delete`).show();

            $(`#${id}-comment-contents`).hide();
            $(`#${id}-comment-edit`).hide();
        }

        function editComment(id) {
            showEditsComment(id);
            let contents = $(`#${id}-comment-contents`).text().trim();
            $(`#${id}-comment-textarea`).val(contents);
        }

        // 메모를 수정합니다.
        function submitEditComment(id) {
            // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
            let contents = $(`#${id}-comment-textarea`).val().trim();

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) == false) {
                return;
            }
            // 3. 전달할 data JSON으로 만듭니다.
            let data = {'contents': contents, 'id':id, 'postId': detailId};

            // 4. PUT /api/posts/{id} 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/commenting/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('댓글 변경에 성공하였습니다.');
                    window.location.reload();
                }
            });
        }


        // 메모를 삭제합니다.
        function deleteComment(id) {
            // 1. DELETE /posts/{id} 에 요청해서 메모를 삭제합니다.
            $.ajax({
                type: "DELETE",
                url: `/commenting/${id}`,
                success: function (response) {
                    alert('댓글 삭제에 성공하였습니다.');
                    window.location.reload();
                }
            })
        }

        function deleteCommentConfirm(id){
            let result = confirm("정말로 삭제하시겠습니까?")
            if(result){
                deleteComment(id)
            }

        }

    </script>
</head>

<body>
<!--<div class="background-header">-->

<!--</div>-->

    <div class="wrap">
        <div id="header-title-login-user"  style = "display:none">
            <!--/*@thymesVar id="username" type=""*/-->
<!--            <span id = "currentUser" th:text="${username}"></span> 님의-->
        </div>

        <div id="buttons" align="right">
            <!--글쓰기 버튼-->
            <!--   style = "display : none"     -->
            <button onclick = "location.href = '/'" id="btn-post-box" type="button" class="btn btn-primary" >목록으로
            </button>

        </div>

        <!--세부정보 박스-->
        <div id="detail-box" class="area-read">

        </div>

        <div id="comment-post" onclick = "loginCheck()">
            <textarea   id="comment-postbox" class="ti-edit card"  cols="30" > </textarea>
            <button onclick = "writeComment()" id="btn-post-box2" type="button" class="btn btn-primary" >댓글작성하기
            </button>
        </div>

        <div id="comment-box" class="area-read">

        </div>




    </div>


</body>

</html>