<!DOCTYPE html>

<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>Spring Board</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <style>

    </style>


    <script>
        // 미리 작성된 영역 - 수정하지 않으셔도 됩니다.
        // 사용자가 내용을 올바르게 입력하였는지 확인합니다.


        function isValidContents(contents) {
            if (contents == '') {
                alert('내용을 입력해주세요');
                return false;
            }
            if (contents.trim().length > 140) {
                alert('공백 포함 140자 이하로 입력해주세요');
                return false;
            }
            return true;
        }


        // 게시글 생성
        function writePost() {

            // 1. 작성한 메모를 불러옵니다.

            let contents = $('#post-contents').val();
            let title = $('#post-title').val();

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) == false) {
                return;
            }
            // // 3. genRandomName 함수를 통해 익명의 username을 만듭니다.
            // let username = $('#post-username').val();

            // 4. 전달할 data JSON으로 만듭니다.
            let data = { 'title': title, 'contents': contents};

            // 5. POST /api/posts 에 data를 전달합니다.
            $.ajax({
                type: "POST",
                url: "/posting",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    alert('메시지가 성공적으로 작성되었습니다.');
                    window.location.reload();
                    window.location.href = '/';
                }
            });
        }

    </script>
</head>

<body>
<!--<div class="background-header">-->

<!--</div>-->
<div class="background-body">

</div>
<div class="wrap">
    <div id="buttons" align="right">
        <!--   style = "display : none"     -->
        <button onclick = "location.href = '/'" id="btn-post-box" type="button" class="btn btn-primary" >목록으로
        </button>
        <!--글쓰기 버튼-->
        <!--   style = "display : none"     -->
        <button onclick = "location.href = '/posting'" id="btn-post-box" type="button" class="btn btn-primary" >글쓰기
        </button>
        <!--    로그아웃 버튼-->
        <!--        <button onclick="openClose()" id="btn-logout" type="button" class="btn btn-primary">로그아웃-->
        <!--        </button>-->
<!--        <div   th:if="${#authorization.expr('isAuthenticated()')}">-->
<!--            <form id="my_form" method="post" action="/user/logout">-->
<!--                <button class="btn btn-primary" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        &lt;!&ndash;    로그인 버튼&ndash;&gt;-->
<!--        &lt;!&ndash;/*@thymesVar id="#authorization" type=""*/&ndash;&gt;-->
<!--        <div th:unless="${#authorization.expr('isAuthenticated()')}" >-->
<!--            <button  onclick="location.href = '/user/login'" th:href = "@{/user/login}" id="btn-login" type="button" class="btn btn-primary">로그인-->
<!--            </button>-->
<!--        </div>-->


    </div>

    <!-- 글쓰기 포스트 박스-->
    <div id="post-box" class="form-post">
        <div>
<!--            <div class="form-group">-->
<!--                <label for="post-username">작성자명</label>-->
<!--                <input id="post-username" class="form-control" placeholder="">-->
<!--            </div>-->
<!--            <div class="form-group">-->

                <label for="post-title">게시글 제목</label>
                <input id="post-title" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-contents">게시글 내용</label>
                <textarea id="post-contents" class="form-control" rows="2"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="writePost()">글쓰기</button>
        </div>
    </div>


</div>
</body>

</html>